{% extends "blog/base.html" %}
{% load staticfiles %}

{% block content %}

<div class="content blog">
<div class="container">
<h1>Blog</h1>

{% if latest_post_list %}
    {% for post in latest_post_list %}
        <div class="post">
        <div class="row">
            <div class="twelve columns"> <h1>{{ post.title }}</h1> </div>
        </div>
        <div class="row">
            <div class="twelve columns">
                <p>{{ post.text|truncatechars:450 }}</p>
            </div>
        </div>
        
        
        <a href="{% url 'blog:post' post.slug %}">Read more</a>
        <div class="clearfix"></div>
        </div>
    {% endfor %}
{% endif %}

</div>
</div>
{% endblock %}